<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loris.soccer.web.repository.mapper.RoundCupWebPageMapper">
	<select id="getDownloadedRounds" resultType="com.loris.soccer.web.downloader.zgzcw.page.RoundCupWebPage">
	    select lid, SEASON, LOADTIME from soccer_web_round_cup_content where completed=1
	</select>
</mapper>