##############################
## Folders                  ##
##############################
encog/target
htmlunit/target
loris/target
loris-base/target
soccer-core/target
stock-core/target
loris/src/main/webapp/.idea