*{padding:0px; margin:0px;}
li,ul{list-style:none;}
body{ font-family:"ו"; font-size:12px;}


.rmls{background:#FFF; border-left:#e1e1e1 solid 1px; width:261px; height:404px; float:left}
.rmls-top{ background:#d23340; width:261px; height:37px;}
.rmls-top p{ padding-left:20px; font-size:14px; color:#FFF; font-weight:bold;line-height:37px;}
.rmls-nr{ width:261px;cursor:pointer; }
.rmls-nr li{ background:#FFF; width:78px; height:26px; float:left; line-height:28px; text-align:center; font-size:12px; color:#424242;border:#e1e1e1 solid 1px;margin:5px 0 0 5px;}
.rmls-nr li a,.rmls-nr li a:link,.rmls-nr li a:visited{color:#424242; text-decoration:none}
.rmls-nr li a:hover{background:#f1f1f1; width:78px; height:26px; color:#d23340; display:inline-block}
